---
layout: nil
title: Simple Timezone Converter
---
<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<title>{{ page.title }}</title>
		<style type='text/css'>
			{% include standard.css %}

			{% include footer.css %}
		</style>
		<script src='simpletimezone.js'></script>
		{% include track.html %}
	</head>
	<body>
		<header>
			<h1>{{ page.title }}</h1>
		</header>
		<main role="main">
			<p>42</p>
		</main>
		<aside>
			<h2>Tests</h2>
			<ul>
				<li><p><a href='test-qunit.html'>in QUnit</a></p></li>
				<li><p><a href='test-jasmine.html'>in Jasmine</a></p></li>
			</ul>
		</aside>
		{% include footer.html %}
	</body>
</html>
