---
layout: null
title: Commit Line
---
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>{{ page.title }}</title>
    <style>
      {% include standard.css %}
      {% include footer.css %}

      body {
        font-size: 1.2em;
      }

      dt, dd {
        display: inline;
        margin: 0.25em;
      }

      dt:after {
        content: ":";
      }

      dd:after {
        content: "\A";
        white-space: pre;
      }

      input[type=text] {
        width: 40em;
      }
    </style>
    <script>
      var config = {
        'indent': 4,
        'limit': 75,
        'red': 'RED ',
        'refactor': 'REFACTOR ',
        'suffix': '.'
      };
  </script>
  {% include track.html %}
  </head>
  <body>
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    <main role="main">
      <p>Quickly check and format a commit message's top line (<a href="#help">help information</a>).</p>

      <dl>
        <dt><label for="type">Commit type:</label></dt>
        <dd>
          <select id="type" onchange="update_commit_type();">
            <option value="red">Red</option>
            <option value="refactor">Refactor</option>
          </select>
        </dd>

        <dt><label for="quotes">Quote type:</label>
        <dd>
          <select id="quotes" onchange="update_quote_type();">
            <option value="double">Double</option>
            <option value="single">Single</option>
          </select>
        </dd>

        <dt><label for="capitalise">Capitalise first letter</label></dt>
        <dd>
          <input
            type="checkbox"
            id="capitalise"
            checked="true"
            onchange="update_commit_line();">
        </dd>

        <dt>Log command output indent</dt>
        <dd id="indent-length"></dd>

        <dt>Maximum line length</dt>
        <dd id="limit"></dd>

        <dt>Prefix</dt>
        <dd id="prefix"></dd>

        <dt>Suffix</dt>
        <dd id="suffix"></dd>

        <dt><label for="message">Commit message</label></dt>
        <dd>
          <input
            type="text"
            id="message"
            aria-describedby="chars"
            onkeyup="update_commit_line();">
          <span id="chars"></span>
        </dd>

        <dt><label for="commit-line">Final commit line</label></dt>
        <dd>
          <input
            type="text"
            id="commit-line"
            readonly>
          <span id="remaining"></span>
        </dd>
      </dl>

      <h2 id="help">Information</h2>
      <p>In <a href="http://en.wikipedia.org/wiki/Test-driven_development">Test-driven Development</a> there are three types of commits:</p>
      <ul>
        <li><p>&quot;red&quot; after a failing test/part-test;</p></li>
        <li><p>&quot;green&quot; when that test/part passes and</p></li>
        <li><p>&quot;refactor&quot; when changes are made to improve the code's quality along the lines of <a href="http://en.wikipedia.org/wiki/Don't_repeat_yourself">DRY</a>, <a href="http://en.wikipedia.org/wiki/Single_responsibility_principle">the single responsibility principle</a> and other such guidelines.</p></li>
      </ul>
      <p>Commits should alternate between &quot;red&quot; and &quot;green&quot;, with optional refactorings after a &quot;green&quot; commit.</p>
      <p>It helps, particularly when performing a Test-driven Development kata, for the commit messages to tell a story (and, for katas, to be only one line, so they can be quickly read). This tool makes it easy to format them into sentences.</p>
      <p><strong>Note:</strong> &quot;green&quot; commits do not need messages, as their purpose should be clear from the preceeding &quot;red&quot; commit.</p>
      <p>There was some interesting information in this <a href="http://stackoverflow.com/questions/2290016/git-commit-messages-50-72-formatting">StackOverflow question and answers on git commit message formatting</a>.</p>
    </main>
  <script>
    function $(id) {
      return document.getElementById(id);
    }

    function get_prefix() {
      return config[$('type').value];
    }

    function get_length_limit() {
      return config.limit - get_prefix().length - config.suffix.length;
    }

    function get_quote() {
      if ($('quotes').value == 'double') {
        return '"';
      } else if ($('quotes').value == 'single') {
        return "'";
      } else {
        alert("Unexpected quote type: " + $('quotes').value);
      }
    }

    function wrap_string(message) {
      return get_quote() + get_prefix() + message + config.suffix + get_quote();
    }

    function update_commit_type() {
      var length_limit = get_length_limit();
      $('indent-length').innerHTML = config.indent;
      $('prefix').innerHTML = '"' + get_prefix() + '"';
      $('suffix').innerHTML = '"' + config.suffix + '"';
      $('limit').innerHTML = config.limit;
      $('message').maxLength = length_limit;
      $('chars').innerHTML = '(' + length_limit + ' characters allowed)'
      // Apply new length restriction (in case it is shorter than before)
      $('message').value = $('message').value.slice(0, length_limit);
      update_commit_line();
    }

    function update_quote_type() {
      update_commit_line();
    }

    function update_commit_line() {
      var message = $('message').value;
      if ($('capitalise').checked) {
        message = message.charAt(0).toUpperCase() + message.slice(1);
      }
      $('commit-line').value = wrap_string(message);

      $('remaining').innerHTML = '('
        + (get_length_limit() - $('message').value.length)
        + ' characters remaining)';
    }

    update_commit_type();
  </script>
  {% include footer.html %}
  </body>
</html>
